:root {
    background-color: rgb(126, 133, 139);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 2;
}

input[type=number] {
  appearance: textfield;
}

body, h2{
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

label{
    margin-top: 6px;
    margin-bottom: -6px;
}

.form{
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.buton{
    margin-top: 18px;
    color: black;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 7px;
    border-style: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    align-self: center;
    text-align: center;
    justify-content: center;
    
    
}

button:hover{
    background-color: rgb(25, 176, 235);
}


.captcha{
    width: 250px;
    height: 20px;
    padding: 1px;
    align-items: center;
    text-align: center;
    border-radius: 7px;
    border-style: groove;
    border-color: aquamarine;
    outline-style:groove;
    outline-width: 1px;
    background-color: rgb(204, 236, 236);
}

.tabela{
    visibility: hidden;
    border-color: black;
    border-width: 1px;
}

.but{
    margin-top: 1px;
    color: black;
    height: 17px;
    margin-bottom: 1px;
    border-radius: 7px;
    border-style: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    align-self: center;
    text-align: center;
    justify-content: center;
}