<ul class="nav nav-pills nav-fill ">
  <li class="nav-item">
    <a class="nav-link active" ng-model="navbarCadastroPessoa" aria-current="page" href="#!/cadastroPessoa">Cadastrar Pessoa</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" ng-model="navbarListaPessoa" href="#!/listaPessoas">Listar Cadastros</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" ng-model="navbarListaContatos" href="#!/listaContatos" aria-disabled="true">Listar Contatos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#!/perfilPessoa">Acessar um Cadastro</a>
  </li>
</ul>